.login-box-container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px;
    background-color: rgba(229, 242, 255, 0.55);
    border-radius: 15px;
}

.alert-pop-login {
    width: fit-content;
    position: absolute;
    top: 20%;
}